.player-container {
    text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player {
	background-color: black;
}

.player-buttons {
	display: flex;
	flex-direction: row;
	width: 640px;
	margin-top: 10px;
}

.goback-container {
	flex-direction: row;
	text-align: left;
}

.download-container {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	justify-content: end;
}

.download {
	margin-left: 5px;
}

.donate {
	padding-left: 2.5px;
}

.donate-serie {
	padding-left: 1px;
}