.main-serie-container {
	display: flex;
	flex-direction: row;
	height: 90vh;
	align-items: center;
}

.serie-image {
	width: 312px;
	height: 440px;
	object-fit: fill;
	background-color: white;
	margin: 40px 0px;
}

.list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.season-tabs {
	height: 440px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.season-tab {
	width: 50px;
	padding-right: 25px;
}

.season-tab:hover {
	width: 75px;
	font-weight: bold;
	cursor: pointer;
	color: #49515f;
	background-color: #24272e;
	padding-right: 4px;
}

.season-tab-active {
	width: 75px;
	background-color: #24272e;
	padding-right: 10px;
}

.video-pane {
	height: 440px;
	padding-left: 60px;
}

.series-container {
	margin-top: 10px;
}

.serie-container {
	padding: 1em 0;
	float: left;
	width: 20%;
}

.container .title {
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
}

.show-content {
	position: relative;
	width: 90%;
	max-width: 208px;
	margin: auto;
	overflow: hidden;
	overflow-wrap: break-word;
}

.show-content .show-content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.show-content:hover .show-content-overlay {
	opacity: 1;
	cursor: pointer;
}

.show-content-image {
	width: 208px;
	height: 280px;
	object-fit: fill;
	background-color: white;
}

.show-content-details {
	user-select: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.show-content:hover .show-content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}

.show-content-details h1 {
	color: #fff;
	font-weight: 400;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.fadeIn-top {
	top: 20%;
}
