.container-serie {
    padding: 1em 0;
    float: left;
    width: 10%;
}

.content-season {
    position: relative;
    width: 90%;
    max-width: 104px;
    margin: auto;
    overflow: hidden;
    overflow-wrap: break-word;
    cursor: pointer;
}

.content-season {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    object-fit: fill;
    background-color: #0788DE;
    /* background: -webkit-linear-gradient(left, #204e81 33%, #ffffff 33%, #ffffff 66%, #e51400 66%);
	background: linear-gradient(to right, #204e81 33%, #ffffff 33%, #ffffff 66%, #e51400 66%); */
}

.container-season {
    padding: 1em 0;
    float: left;
    width: 5%;
}

.content-episode {
    position: relative;
    width: 90%;
    max-width: 52px;
    margin: auto;
    overflow: hidden;
    overflow-wrap: break-word;
    cursor: pointer;
}

.content-episode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    object-fit: fill;
    background-color: #0788DE;
}


.serie-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    align-items: center;
}

.serie-image {
    width: 312px;
    height: 440px;
    object-fit: fill;
    background-color: white;
    margin: 40px 0px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.season-tabs {
    height: 440px;
}

.season-tab {
    width: 50px;
    padding-right: 25px;
}

.season-tab:hover {
    width: 75px;
    font-weight: bold;
    cursor: pointer;
    color: #49515f;
    background-color: #24272e;
    padding-right: 4px;
}

.season-tab-active {
    width: 75px;
    background-color: #24272e;
    padding-right: 10px;
}

.video-pane {
    height: 440px;
    padding-left: 60px;
}