*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.back-button {
    margin-left: 12px;
    justify-content: center;
    text-align: center;
}

.list-container {
    margin-top: 10px;
}

.container {
    padding: 1em 0;
    float: left;
    width: 20%;
}

.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 90%;
    max-width: 208px;
    margin: auto;
    overflow: hidden;
    overflow-wrap: break-word;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
    cursor: pointer;
}

.content-image {
    width: 208px;
    height: 280px;
    object-fit: fill;
    background-color: white;
}

.content-details {
    user-select: none;
    cursor: pointer;
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h1{
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.fadeIn-top{
    top: 20%;
}

.player-container {
    flex-direction: column;
}

.player-container .back-button {
    margin-top: 10px;
}

.back-container {
    margin-top: 10px;
}